<h1>Code Snippets</h1>

<%= form_tag codes_path, :method => 'get', :id => "codes_search" do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
	
		<div id="codes">
		<%= render 'codes' %>
		</div>

	<br />

<% end %>


<%= link_to 'New Snippet', new_code_path %>