<p>
	<b>Snippet:</b>
	<%= coderay(@code.content) %>
</p>

<p>
	<b>Description:</b>
	<%= @code.description %>
</p>

<p>
	<b>Tags:</b>
	<% @code.tags.each do |tag| %>
		<%= tag.name %><br/>
	<% end %>
</p>

<br/>

<%= link_to 'Edit Snippet', edit_code_path(@code) %> |

<%= link_to 'Back to Snippets', codes_path %>